{% include "layout/header.html" %}
{% include "layout/navbar_home.html" %}

<main style="border-bottom: 1px solid #E8E8E8" id="carousel-home">

    <div class="container-md">
      <div class="row mb-5 mt-5">
        <div class="col-md" style="padding-left: 2vw; padding-right: 2vw">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{{ url_for('static', filename='assets/img/carousel/carousel_1.jpg') }}" class="d-block w-100" alt="picture by freepik">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{{ url_for('static', filename='assets/img/carousel/carousel_2.jpg') }}" class="d-block w-100" alt="picture by freepik">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{{ url_for('static', filename='assets/img/carousel/carousel_3.jpg') }}" class="d-block w-100" alt="picture by freepik">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="">
        <div class="" style="">
        </div>
      </div>
    </div>

</main>
<section class="expand-md" id="menu-option">
    <div class="container-md">
      <div class="row mb-5 mt-5" style="margin: auto; width: 50%;">

        <div class="col-md-12" style="padding-left: 2vw; padding-right: 2vw">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Data Role Recommendation</h5>
              <p class="card-text">This model takes input in text format and extracts the skills contained to use as predictors for suitable data-role using the Functional API of Bidirectional LSTM Network.</p>
                <div class="d-grid gap-3 d-md-flex">
                  <a href="{{ url_for('form') }}" class="btn btn-dark">Input Form</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% include "layout/footnotes.html" %}
{% include "layout/footer.html" %}